.main-logo-dodamduck {
  display: inline-block;
  margin-left: 6px;
  margin-top: 5px;
  font-weight: 700;
  color: #FFD600;
  text-shadow: 2px 2px 2px rgba(220, 220, 220, 0.5); 
  cursor: pointer;
} 

.main-logo-img {
  margin-left: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.link-spacing {
  margin-left: 20px !important;
  margin-right: 20px !important;
  color: rgb(34, 34, 34) !important;
  font-weight: 600 !important;
}

.App {
  font-family: '210 옴니고딕OTF 045', sans-serif !important;
}

.login-btn {
  color: #FFD600 !important;
  border-color: #FFD600 !important;
  background-color: white !important;
}

.login-btn:hover {
  background-color: #FFD600 !important;
  border-color: #FFD600 !important;
  color: white !important;
}

.app-main {
  background-color: #fffbe4;
  width: 100%;
  /* height: 100vh; */
}

.main-dodamduck-img {
  transform: scaleX(-1);
  margin-right: 20px;
  max-height: 80%
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: -5%; */
  height: 100vh; 
  /* flex-direction: column; */
}
.main1-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 10%; */
  height: 100vh; 
  /* flex-direction: column; */
}

.main2-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 10%; */
  height: 100vh; 
  padding-right: 160px;
}
.main1-text {
  margin-top: 30px;
}

.main2-android-main {
  transform: rotate(-20deg);
  transform-origin: left bottom;
  z-index: 1;
  margin-left: 90px;
  position: relative;
  left: 60px; /* 이 값을 조절하여 안드로이드메인 이미지의 위치를 원하는 대로 조정하세요. */
  top: -20px;
  border-radius: 35px; 
}

.main-android-home {
  transform: rotate(15deg);
  transform-origin: left bottom;
  z-index: 2;
  position: relative;
  left: -180px; 
  top: -10px;
  border-radius: 35px; 
}

.main3-android-main {
  transform: rotate(-20deg);
  transform-origin: left bottom;
  z-index: 1;
  margin-left: 90px;
  position: relative;
  left: -70px; 
  top: -20px;
  border-radius: 35px; 
}

.main-android-library {
  transform: rotate(15deg);
  transform-origin: left bottom;
  z-index: 2;
  position: relative;
  left: -310px; 
  top: -10px;
  border-radius: 30px; 
}


.main3-txt {
  z-index: 3;
}

.app-main3 {
  margin-left: 30px;
}

.main4-large-container {
  width: 1000px; /* 직사각형의 너비를 설정하세요. */
  height: 300px; /* 직사각형의 높이를 설정하세요. */
  background-color: #ffffff; 
  border: 1px solid #dfdfdf; /* 테두리 색과 두께를 설정하세요. */
  border-radius: 10px; /* 모서리를 둥글게 하려면 이 값을 조정하세요. */
  margin-top: -160px;
  box-shadow: 1px 1px 1px 1px rgba(220, 220, 220, 0.5); 

}

.app-main4 {
  /* background-color: #ffffff !important; */
  background-color: #fffbe4;
}

.main4-txt {
  margin-left: 130px;
  margin-top: 60px;
  color: #554747;
  text-shadow: 3px 3px 3px rgba(220, 220, 220, 1); 
}
.main4-dodamduck-txt {
  margin-left: 130px;
  margin-top: 10px;
  color: #7C6A6A;
  text-shadow: 5px 5px 5px rgba(220, 220, 220, 1); 
}

.main4-hand-img {
  margin-top: -107px;
  margin-left: 620px;
}

.main4-google-container {
  width: 120px; /* 직사각형의 너비를 설정하세요. */
  height: 30px; /* 직사각형의 높이를 설정하세요. */
  background-color: #ffffff; 
  border: 1px solid #979797; 
  border-radius: 5px;
  margin-top: -90px;
  margin-left: 130px;
  box-shadow: 1px 1px 1px 1px rgba(232, 232, 232, 0.5); 
}

.google-play {
  margin-left: 20px;
  margin-top: 7px;
  font-size: 11px;
}

.main4-dodamduck-img {
  margin-top: 150px;
  margin-left: 1020px;
}

.nav-color {
  background-color: #ffffff;
}

/* App.css */

.slide-in {
  transform: translateX(-100%);
  transition: transform 1s ease-out;
  opacity: 0;
}

.slide-in.active {
  transform: translateX(0);
  opacity: 1;
}

.test404 {
  color: #000000;
}

.login-form {
  margin: 100px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  width: 540px; /* 직사각형의 너비를 설정하세요. */
  height: 320px; /* 직사각형의 높이를 설정하세요. */
  /* background-color: #ffffff;  */
  border: 1px solid #d6d6d6; /* 테두리 색과 두께를 설정하세요. */
  border-radius: 10px; /* 모서리를 둥글게 하려면 이 값을 조정하세요. */
  margin-top: 200px !important;
  margin: 150px;
  margin-left: 500px;
  box-shadow: 1px 1px 1px 1px rgba(220, 220, 220, 0.5); 
}
.login-dodamduck1-img {
  transform: scaleX(-1);
  margin-top: -130px;
  margin-left: 80px;
}
.login-dodamduck2-img {
  margin-top: -150px;
  margin-left: 1300px;
}

.login-page-already {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* margin-right: 100px; */
}


.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  width: 1000px; /* 직사각형의 너비를 설정하세요. */
  height: 600px; /* 직사각형의 높이를 설정하세요. */
  /* background-color: #ffffff;  */
  border: 1px solid #d6d6d6; /* 테두리 색과 두께를 설정하세요. */
  border-radius: 10px; /* 모서리를 둥글게 하려면 이 값을 조정하세요. */
  /* margin-top: 300px; */
  margin: 100px;
  margin-left: 300px;
  box-shadow: 1px 1px 1px 1px rgba(220, 220, 220, 0.5); 
}

.custom-checkbox .form-check-input:checked {
  background-color: #FFD600 !important;
  border-color: #FFD600 !important;
}

.library-nav {
  /* margin: 100px; */
  padding-top: 100px;
  /* margin-left: 500px; */
  text-align: center;
  background-color: #fffbe4;
  padding-bottom: 40px;
}

.library-comment1 {
  /* margin: 50px; */
  margin-bottom: 10px;
  font-size: 18px;
}
.library-comment2 {
  font-size: 22px;
}

.lib-container {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  text-align: center;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.lib-container .card {
  padding-top: 30px;
  flex: 1 0 24%; 
  margin: 2% 0.5%; /* 카드 사이의 간격 */
  width: 8rem !important;
  padding: -30% !important;
}

.rental-btn {
  color: #FFD600 !important;
  border-color: #FFD600 !important;
  background-color: rgb(255, 255, 255) !important;
}

.rental-btn:hover {
  background-color: #FFD600 !important;
  border-color: #FFD600 !important;
  color: white !important;
}

.card-compo {
  width: 250px !important;
}