.main-logo-dodamduck {
  display: inline-block;
  margin-left: 6px;
  margin-top: 5px;
  font-weight: 700;
  color: #FFD600;
  text-shadow: 2px 2px 2px rgba(220, 220, 220, 0.5); 
  cursor: pointer;
} 

.main-logo-img {
  margin-left: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.link-spacing {
  margin-left: 20px !important;
  margin-right: 20px !important;
  color: rgb(34, 34, 34) !important;
  font-weight: 600 !important;
}

.App {
  font-family: '210 옴니고딕OTF 045', sans-serif !important;
}

.login-btn {
  color: #FFD600 !important;
  border-color: #FFD600 !important;
  background-color: white !important;
}

.login-btn:hover {
  background-color: #FFD600 !important;
  border-color: #FFD600 !important;
  color: white !important;
}

.app-main {
  background-color: #fffbe4;
  width: 100%;
  height: 100vh; 
  overflow-y: scroll; 
  scroll-snap-type: y mandatory; 
}

.main-section {
  scroll-snap-align: start; 
  height: 100vh; 
}

.main-dodamduck-img {
  transform: scaleX(-1);
  margin-right: 20px;
  max-height: 80%
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: -5%; */
  height: 100vh; 
  /* flex-direction: column; */
}
.main1-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 10%; */
  height: 100vh; 
  /* flex-direction: column; */
}

.main2-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 10%; */
  height: 100vh; 
  padding-right: 160px;
}
.main1-text {
  margin-top: 30px;
}

.main2-android-main {
  transform: rotate(-20deg);
  transform-origin: left bottom;
  z-index: 1;
  margin-left: 90px;
  position: relative;
  left: 60px; /* 이 값을 조절하여 안드로이드메인 이미지의 위치를 원하는 대로 조정하세요. */
  top: -20px;
  border-radius: 35px; 
}

.main-android-home {
  transform: rotate(15deg);
  transform-origin: left bottom;
  z-index: 2;
  position: relative;
  left: -180px; 
  top: -10px;
  border-radius: 35px; 
}

.main3-android-main {
  transform: rotate(-20deg);
  transform-origin: left bottom;
  z-index: 1;
  margin-left: 90px;
  position: relative;
  left: -70px; 
  top: -20px;
  border-radius: 35px; 
}

.main-android-library {
  transform: rotate(15deg);
  transform-origin: left bottom;
  z-index: 2;
  position: relative;
  left: -310px; 
  top: -10px;
  border-radius: 30px; 
}


.main3-txt {
  z-index: 3;
}

.app-main3 {
  margin-left: 30px;
}

.main4-large-container {
  width: 1000px; /* 직사각형의 너비를 설정하세요. */
  height: 300px; /* 직사각형의 높이를 설정하세요. */
  background-color: #ffffff; 
  border: 1px solid #dfdfdf; /* 테두리 색과 두께를 설정하세요. */
  border-radius: 10px; /* 모서리를 둥글게 하려면 이 값을 조정하세요. */
  margin-top: -160px;
  box-shadow: 1px 1px 1px 1px rgba(220, 220, 220, 0.5); 

}

.app-main4 {
  /* background-color: #ffffff !important; */
  background-color: #fffbe4;
}

.main4-txt {
  margin-left: 130px;
  margin-top: 60px;
  color: #554747;
  text-shadow: 3px 3px 3px rgba(220, 220, 220, 1); 
}
.main4-dodamduck-txt {
  margin-left: 130px;
  margin-top: 10px;
  color: #7C6A6A;
  text-shadow: 5px 5px 5px rgba(220, 220, 220, 1); 
}

.main4-hand-img {
  margin-top: -107px;
  margin-left: 620px;
}

.main4-google-container {
  width: 120px; /* 직사각형의 너비를 설정하세요. */
  height: 30px; /* 직사각형의 높이를 설정하세요. */
  background-color: #ffffff; 
  border: 1px solid #979797; 
  border-radius: 5px;
  margin-top: -90px;
  margin-left: 130px;
  box-shadow: 1px 1px 1px 1px rgba(232, 232, 232, 0.5); 
}

.google-play {
  margin-left: 20px;
  margin-top: 7px;
  font-size: 11px;
}

.main4-dodamduck-img {
  margin-top: 150px;
  margin-left: 1020px;
}

.nav-color {
  background-color: #ffffff;
}

.slide-in {
  transform: translateX(-100%);
  transition: transform 1s ease-out;
  opacity: 0;
}

.slide-in.active {
  transform: translateX(0);
  opacity: 1;
}

.test404 {
  color: #000000;
}

.login-form {
  margin: 100px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  width: 540px; /* 직사각형의 너비를 설정하세요. */
  height: 320px; /* 직사각형의 높이를 설정하세요. */
  /* background-color: #ffffff;  */
  border: 1px solid #d6d6d6; /* 테두리 색과 두께를 설정하세요. */
  border-radius: 10px; /* 모서리를 둥글게 하려면 이 값을 조정하세요. */
  margin-top: 200px !important;
  margin: 150px;
  margin-left: 500px;
  box-shadow: 1px 1px 1px 1px rgba(220, 220, 220, 0.5); 
}
.login-dodamduck1-img {
  transform: scaleX(-1);
  margin-top: -130px;
  margin-left: 80px;
}
.login-dodamduck2-img {
  margin-top: -150px;
  margin-left: 1300px;
}

.login-page-already {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* margin-right: 100px; */
}


.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  width: 1000px; /* 직사각형의 너비를 설정하세요. */
  height: 600px; /* 직사각형의 높이를 설정하세요. */
  /* background-color: #ffffff;  */
  border: 1px solid #d6d6d6; /* 테두리 색과 두께를 설정하세요. */
  border-radius: 10px; /* 모서리를 둥글게 하려면 이 값을 조정하세요. */
  /* margin-top: 300px; */
  margin: 100px;
  margin-left: 300px;
  box-shadow: 1px 1px 1px 1px rgba(220, 220, 220, 0.5); 
}

.custom-checkbox .form-check-input:checked {
  background-color: #FFD600 !important;
  border-color: #FFD600 !important;
}
.custom-checkbox .form-check-input:checked ~ .custom-control-label::before {
  border-color: #FFD600 !important;
}

.custom-checkbox .form-check-input:focus {
  box-shadow: 0 0 0 0.2rem rgb(255, 251, 231);  /* 해당 색상을 조절하여 원하는 효과를 줄 수 있습니다. */
}


.library-nav {
  /* margin: 100px; */
  padding-top: 100px;
  /* margin-left: 500px; */
  text-align: center;
  background-color: #fffbe4;
  padding-bottom: 40px;
}

.library-comment1 {
  /* margin: 50px; */
  margin-bottom: 10px;
  font-size: 20px;
}
.library-comment2 {
  font-size: 24px;
}

.lib-container {
  display: flex;
  justify-content: center;
  align-items: start; /* 카드의 상단을 일치시킵니다. */
  text-align: center;
  flex-wrap: wrap;
  width: 1100px !important;
  margin: 0 auto;
}

.lib-container .card {
  padding-top: 30px;
  flex: 1 0 22%; /* 카드의 너비를 22%로 조정 */
  margin: 2% 1.5%;
}

.rental-btn {
  color: #FFD600 !important;
  border-color: #FFD600 !important;
  background-color: rgb(255, 255, 255) !important;
}

.rental-btn:hover {
  background-color: #FFD600 !important;
  border-color: #FFD600 !important;
  color: white !important;
}

.card-compo {
  width: 250px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.card-compo:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.circle {
  position: fixed !important;
  width: 67px; 
  height: 67px;
  background-color: rgba(255, 225, 66, 0.7); 
  border-radius: 50%; 
  display: inline-block;
  right: 100px;
  bottom: 50px;
  cursor: pointer;
}

.plus-sign {
  position: fixed !important;
  color: rgba(0, 0, 0, 0.6); 
  font-size: 50px;   /* 원하는 크기로 설정 */
  /* font-weight: 100; */
  bottom: 57px;
  right: 112px; 
}

.sharing-post-comment {
  padding-top: 100px;
  padding-bottom: 40px;
  font-size: 30px;
  margin-left: 193px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.post-container {
  width: 1140px;
  height: 650px;
  margin-bottom: 50px;
  background-color: #ffffff; 
  border: 1px solid #ced4da;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(239, 239, 239, 0.5); 
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  font-size: 20px;
  /* font-weight: 100 !important; */
  padding: 10px;
}

.sharing-post-container {
  width: 1140px;
  height: 830px;
  margin-bottom: 50px;
  background-color: #ffffff; 
  border: 1px solid #ced4da;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(239, 239, 239, 0.5); 
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  font-size: 20px;
  /* font-weight: 100 !important; */
  padding: 10px;
}

.form-control:focus {
  box-shadow: none !important;
  border-color: #ced4da !important;  
}
.form-control{
  border: 1px solid #ced4da !important; 
}

.post-radio {
  margin: 23px;
  box-shadow: none !important;
  margin-left: 45px;
}

/* .post-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #FFD600 !important;
  border-color: #FFD600 !important;
}

.post-radio .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #FFD600 !important;
  border-color: #FFD600 !important;
} */
.post-radio .form-check-input:checked {
  background-color: #FFD600 !important;
  border-color: #FFD600 !important;
}

.post-radio .form-check-input:checked ~ .custom-control-label::before {
  border-color: #FFD600 !important;
}

.post-radio .form-check-input:focus {
  box-shadow: 0 0 0 0.2rem rgb(255, 251, 231);  /* 해당 색상을 조절하여 원하는 효과를 줄 수 있습니다. */
}
.register-btn {
  color: #FFD600 !important;
  border-color: #FFD600 !important;
  background-color: white !important;
  margin-top: -55px;
  margin-left: 1000px;
}
.register-btn:hover {
  background-color: #FFD600 !important;
  border-color: #FFD600 !important;
  color: white !important;
}

.sharing-card {
  margin-left: 48px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.07), 0 4px 4px rgba(0,0,0,0.07);
  transition: 0.4s;
}
.sharing-card:hover {
  box-shadow: 0 7px 13px rgba(0, 0, 0, 0.1), 0 7px 22px rgba(0, 0, 0, 0.1);
}

.sharing-card .card-img-top {
  width: 100%; 
  height: 100%;   
  /* padding-bottom: 100%;  */
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

/* CSS */
.sharing-card img {
  object-fit: cover;
  height: 200px; /* 또는 원하는 높이를 설정하세요 */
  width: 100%;
}


.board-container {
  width: 1070px;
  height: 160px;
  /* margin-bottom: 50px;
  background-color: #ffffff; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 100 !important; 
  padding: 10px; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin-top: 10px;
  border-radius: 10px;
  padding: 20px;
  /* margin-bottom: 5px; */
  margin-left: 220px;
  box-shadow: rgb(224, 224, 224) 0.5px 2px 4px 0.4px;
}


.post-title-container {
  width: 1140px !important;
  height: 50px !important;
  font-size: large !important;
  display: flex;
  /* margin: -10px; */
  margin-top: -11px;
  margin-left: -11px;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.board-textarea::placeholder {
  color: #858585 !important;
  /* font-weight: lighter !important; */
  font-family: '210 옴니고딕OTF 035', sans-serif !important;
}

.board-register-btn {
  color: #FFD600 !important;
  border-color: #FFD600 !important;
  background-color: white !important;
  margin-top: -105px;
  margin-left: 1040px;
}
.board-register-btn:hover {
  background-color: #FFD600 !important;
  border-color: #FFD600 !important;
  color: white !important;
}

.board-post-content {
  margin-left: 30px;
}

.myshop-container {
  margin-top: 120px !important;
  margin: 100px;
  margin-left: 220px;
  width: 1100px;
  height: 230px; 
  background-color: #ffffff; 
  border: 1px solid #dfdfdf; /* 테두리 색과 두께를 설정하세요. */
  border-radius: 10px; /* 모서리를 둥글게 하려면 이 값을 조정하세요. */
  margin-top: -160px;
  box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(220, 220, 220, 0.5); 
}

.myshop-level {
  font-family: '210 옴니고딕OTF 035', sans-serif !important;

}

.nav-tabs .nav-link {
  color: rgb(60, 60, 60) !important; /* 원하는 색상으로 변경 */
}

.nav-tabs .nav-link.active {
  color: #FFD600 !important; /* 활성 탭의 색상을 변경하고 싶을 때 */
}


.post-container {
  width: 1140px;
  height: 650px;
  margin-bottom: 50px;
  background-color: #ffffff; 
  border: 1px solid #ced4da;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(239, 239, 239, 0.5); 
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  font-size: 20px;
  /* font-weight: 100 !important; */
  padding: 10px;
}

.chat-container {
  width: 1140px;
  height: 590px;
  /* margin-bottom: 50px; */
  margin: 100px;
  margin-left: 195px;
  /* background-color: #464646;  */
  border: 1px solid #ced4da;
  border-radius: 3px;
  /* box-shadow: 1px 1px 1px 1px rgba(239, 239, 239, 0.5);  */
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  font-size: 20px;
  /* font-weight: 100 !important; */
  padding: 10px;
}

.chat-line {
  border-left : thin solid #ced4da;
  height : 589px;
  /* margin-left: 310px; */
  margin-top: -10px;
  /* margin-bottom: 50px; */
}

.chat-user-line {
  border-top : thin solid #ced4da;
  width : 400px;
  /* margin-left: 2px; */
  margin-right: 5px;
  margin-top: 2px;
  /* margin-left: 310px; */
  /* margin-top: -10px; */
}

.recent-chat-comment {
  font-family: '210 옴니고딕OTF 035', sans-serif !important;
  font-size: small;
  color: #9d9d9d;
}

.chat2-user-line {
  border-top : thin solid #ced4da;
  width : 640px;
  margin-right: 5px;
  margin-top: 2px;
}

.chat-date {
  /* margin: 5px; */
  font-family: '210 옴니고딕OTF 035', sans-serif !important;
  font-size: x-small;
  color: #767676;
  border: #767676 solid 1px;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  width: 18%; /* 예를 들어 전체 길이의 50%로 설정 */
  margin: auto; 
  padding: 3px;
}

.chat-radio {
  font-family: '210 옴니고딕OTF 035', sans-serif !important;
  font-size: x-small;
  /* color: #FFD600; */
  border: solid 1px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  width: 35%;
  margin: auto;
}

.real-chat {
  font-family: '210 옴니고딕OTF 035', sans-serif !important;
  border: #f1f1f1 solid 1px;
  background-color: #f1f1f1;
  border-radius: 5px 50px 50px 60px;
  display: flex;
  justify-content: center;
  width: 100%; /* 예를 들어 전체 길이의 50%로 설정 */
  margin: auto; 
  padding: 5px;
}

/* .real-chat-me {
  display: flex;
  position: relative;
  left: 60%;
  font-family: '210 옴니고딕OTF 035', sans-serif !important;
  border: #f1f1f1 solid 1px;
  background-color: #f1f1f1;
  border-radius: 50px 5px 50px 60px;
  justify-content: flex-end;
  width:5%; 
  margin: auto; 
  margin-left: auto;
  padding: 5px;
} */

.real-chat-me {
  display: flex;
  align-items: center; /* 텍스트를 말풍선 내에서 수직 중앙에 정렬 */
  justify-content: center; /* 텍스트를 말풍선 내에서 수평 중앙에 정렬 */
  font-family: '210 옴니고딕OTF 035', sans-serif !important;
  border: #FFD600 solid 1px;
  background-color: #FFD600;
  border-radius: 50px 5px 50px 60px;
  padding: 5px 10px; /* padding을 좀 더 적절하게 조정 */
  margin-left: auto; /* 이것은 오른쪽 정렬을 위해 */
  font-size: small;
}

.chat-ready {
  font-family: '210 옴니고딕OTF 035', sans-serif !important;
  font-size: small  !important;
  width: 37rem;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  margin: 10px 10px 10px 10px;
  margin-top: 80px;
  margin-left: -5px;
}

.shring-detail-card {
  margin: 100px;
  margin-left: 400px;
  margin-right: 400px;
}

.chatting-btn {
  background-color: #FFD600 !important;
  border-color: #FFD600 !important;
  color: white !important;
  display: flex;
  width: 89px !important ;
  height: 33px !important ;
  margin-left: 410px;
}

.upload-date {
  font-family: '210 옴니고딕OTF 035', sans-serif !important;
  margin-left: 17px;
  color: #4e4e4e;
  font-size: small;
}

.sharing-detail-content {
  font-family: '210 옴니고딕OTF 035', sans-serif !important;
  font-size: medium;
}